*´{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
    :root {
   --blue: rgb(92, 157, 243)
   --pink: palevioletred
   --white: aliceblue; 
   --green:palegreen
    }
    body{
        background-color: rgb(92, 157, 243);
        height: 100svh;
        display: flex;
       justify-content: center;
       align-items: center;        
    } 
    div{
         background-color: palevioletred;
         color: palegreen;
         max-width: 384px;
         text-align: center;
         padding: 40px;
         border-radius: 12px;
    }
    h1{
        color: aliceblue;
        font-size: 600;
        line-height: 150%;
    }
    strong{
        color: palegreen;
    }
    p{
        color: aliceblue;
        margin-block: 24px;
        font-size: 14px;
        line-height: 150%;
    }
    ul, li{
        list-style: none;
    }
img{
    width: 50%;
    border-radius: 80%;
    margin-bottom: 24px;
}
    a{
        display: block;
        color: palegreen;
        text-decoration: none;
        background-color: rgb(92, 157, 243) ;
        margin-bottom: 16px;
        padding: 12px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 700;
    }
        a:hover{
            background-color: antiquewhite;
            color:  palevioletred;
        }

    
    